.page-content {
    font-family: Kufam;
    padding: 10px;
    height: 100vh;
    overflow: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: hidden;
    background-color: #E0E0E0;

    .v-align-end {
        display: flex;
        align-items: flex-end;
    }

    .v-align-center {
        display: flex;
        align-items: center;
    }
}

