.page-content {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    height: 100vh;
    overflow: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: hidden;
    background-color: #E0E0E0;

    .app-content {
        width: 100%;
        flex-grow: 1;
        min-width: 700px;
        max-width: 1350px;
        display: flex;
        justify-content: center;
        overflow: auto;
        overflow-y: hidden;

        .controller {
            width: 40%;
            min-width: 250px;
            max-width: 400px;
            margin: 5px;
            height: calc(100vh - 30px);
            display: flex;
            flex-direction: column;

            .select-file {
                margin-bottom: 10px;
                height: fit-content;
                max-height: 50vh;

                .input-multi-upload {
                    display: none;
                }

                .list-item {
                    height: fit-content;
                    max-height: 30vh;
                    overflow: auto;

                    div {
                        padding-top: 0;
                        padding-bottom: 0;
                    }
                }
                
            }
            
            .list-file-uploaded {
                margin-top: 10px;
                height: 100%;
                overflow: auto;
            }

        }

        .btn {
            font-family: 'Raleway', sans-serif;
        }
        

        .preview {
            margin: 5px;
            overflow: auto;
            width: 60%;
            min-width: 550px;
            max-width: 950px;
        }

        .doc-preview{
            height: 100%;

            .doc-data{
                height: calc(100% - 72px);
                width: 100%;
            }
        }
    }
}


.drawer {
    transition: height 0.5s;
    overflow: hidden;
}

.drawer.active {
    height: 0px !important;
    transition: height 0.5s;
}


.list-item {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    margin: 0;
    padding: 0;
    .fileNameText {
        width: 100px;
        overflow: hidden;
    }
}

.list-attach {
    margin-left: 50px;

    div {
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}


.fill-width {
    width: 100%;
}

.thin-border {
    border: 1px solid black;
}

.bg-white {
    background-color: white;
}


.mutil-btn-inline {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .btn {
        flex-grow: 1;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.icon-index{
    transition: transform 0.3s;
}

.icon-index.active {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}