.page-content {
    font-family: Georgia, 'Times New Roman', Times, serif;
    // height: 100vh;
    overflow: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: hidden;

    .page-bg {
        background-color: #F3F4F7;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    

    .fit-height{
        height: fit-content;
    }

    .app-content {
        padding: 10px;
        width: 100%;
        z-index: 10;
        display: flex;
        justify-content: center;
        overflow: auto;
        margin: 0;

        .intro {
            padding: 10px;
        }

        .btn {
            font-family: 'Raleway', sans-serif;
        }
        .model-playground {
            .prow {
                font-family: 'Roboto', sans-serif;
                display: flex;
                height: 40px;
                margin: 0.3rem;

                .item {
                    cursor: pointer;
                }
    
                .header {
                    width: 25%;
                    font-size: 14pt !important;
                    border-left: 3px solid rgb(216, 216, 216);
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    .item {
                        margin-left: 10px;
                    }
                }

                .option {
                    width: 75%;
                    display: flex;

                    .item {
                        flex-grow: 1;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        background-color: white;
                        margin: 0 2px 0 2px;

                        .item-content{
                            font-size: 11pt !important;
                            margin-left: 10px;
                        }
                    }

                    .item.active {
                        background-color: #ee632c;
                        color: white;
                    }
                }
            }

        }

        .description {
            .content {

                padding: 20px 20px 20px 30px;
            }
        }
    }
}


.fill-width {
    width: 100% !important;
}

.thin-border {
    border: 1px solid black;
}

.bg-white {
    background-color: white;
}

.cursor-pointer {
    cursor: pointer;
}

.active-btn {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}