.page-content {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    height: 100vh;
    overflow: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-y: hidden;
    background-color: #E0E0E0;

    .app-content {
        width: 100%;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        overflow: auto;
        overflow-y: hidden;
    }
}

.fill-width {
    width: 100%;
}

.thin-border {
    border: 1px solid black;
}

.document {
    justify-content: flex-start !important;
    max-width: 1500px;
    margin-left: 5px;

    .table-of-conent {
        font-family: 'Roboto Mono', monospace;

        .title {
            font-size: 16pt !important;
        }

        a {
            text-decoration: none;
        }
    }

    .document-text {
        overflow: auto;
        height: 100%;
        padding: 0 90px 0 90px;

        .section {
            margin: 20px 0 10px 0;
            font-size: 18pt !important;
            font-family: 'Cabin', sans-serif;
        }

        .subsection {
            margin: 10px 0 5px 0;
            font-size: 16pt !important;
            font-family: 'Cabin', sans-serif;
        }

        .content-img {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .img {
                margin: 10px;
                width: 90%;
                max-width: 500px;
            }

            .ref {
                font-family: 'Epilogue', sans-serif !important;
            }
        }

        .formular {
            margin: 10px;
            justify-content: center;
            display: flex;
            font-size: xx-large;
        }
    }
}

.bg-white {
    background-color: white;
}

.cursor-pointer {
    cursor: pointer;
}

